.spotlight {

  text-align: center;

  width: 500px;
  max-width: 80%;

  margin: 10px auto;

  padding: 10px;

  border-radius: 10px;

  background-color: #ca7373;

  .title {

    margin: 0px;

  }

  .headline {

    display: block;

    font-size: larger;

  }

}