header {

  height: 75px;
  width: 100%;
  background-color: hsl(0, 45%, 42%);

  padding-bottom: 15px;

}

h1 {

  text-align: center;

  position: relative;
  top: 25%;

}

nav {

  display: flex;
  justify-content: center;

  a {

    color: black;

    margin: 0px 5px;

  }

}