<footer>
  <div>
    <app-fun-fact-spotlight
      [headline]="credits.headline"
      [subline]="credits.subline"
      [title]="credits.title"
    ></app-fun-fact-spotlight>
    <hr>
    <p>
      <strong>Musik-Liga Eingepackt v1.1 "<a href="https://github.com/Imbecillus/MusicLeagueStats" target="_blank">Supa Richie</a>"</strong><br>
      © 2024-2025 Tim K<br>
      Frohe Weihnachten!
    </p>
    <p class="legal-stuff">
      Weihnachtskugeln von <a href="https://www.freepik.com/" target="_blank">Freepik.com</a>
    </p>
  </div>
</footer>