.heatmap-container {

  padding: 5px 20px;

  border-radius: 0 0 15px 15px;

  background-color: #d7b26d;

  h2 {

    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 2em;

    background-color: #ca7373;

    margin: -5px -20px;
    padding: 5px 5px 10px;

  }

  .chart-area {

    @media (max-width: 1000px) {
      display: none;
    }

  }

  .your-screen-is-too-small-mate {

    margin: 25px 0px;

    padding: 10px;

    border-radius: 5px;

    background-color: #69964f;

    @media (min-width: 1000px) {
      display: none;
    }

  }

}
