<div class="funfacts">
  <h2>Dein Eingepackt</h2>

  <select #competitorSelection (change)="this.onSelectCompetitor()">
    <option 
      *ngFor="let competitor of competitors"
      value="{{competitor.ID}}"
    >
      {{competitor.Name}}
    </option>
  </select>

  <app-fun-fact-fans
    [fanData]="fanData"
  ></app-fun-fact-fans>

  <hr>

  <app-fun-fact-spotlight
    [headline]="this.bestRound.headline"
    [subline]="this.bestRound.subline"
    [title]="this.bestRound.title"
  ></app-fun-fact-spotlight>

  <app-fun-fact-spotlight
    [headline]="this.worstRound.headline"
    [subline]="this.worstRound.subline"
    [title]="this.worstRound.title"
  ></app-fun-fact-spotlight>

  <hr>

  <app-fun-fact-spotlight
    [headline]="this.avgCommentLength.headline"
    [subline]="this.avgCommentLength.subline"
    [title]="this.avgCommentLength.title"
  ></app-fun-fact-spotlight>

  <app-fun-fact-spotlight
    [headline]="this.longestComment.headline"
    [subline]="this.longestComment.subline"
    [title]="this.longestComment.title"
  ></app-fun-fact-spotlight>

  <hr>

  <app-fun-fact-spotlight
    [headline]="this.avgIntroductionLength.headline"
    [subline]="this.avgIntroductionLength.subline"
    [title]="this.avgIntroductionLength.title"
  ></app-fun-fact-spotlight>

  <app-fun-fact-spotlight
    [headline]="this.longestIntroduction.headline"
    [subline]="this.longestIntroduction.subline"
    [title]="this.longestIntroduction.title"
  ></app-fun-fact-spotlight>
</div>