.fanlist {

  text-align: center;

}

.spotlight {

  text-align: center;

  width: 500px;

  margin: 10px auto;

  padding: 10px;

  border-radius: 10px;

  background-color: #ca7373;

  .title {

    margin: 0px;

  }

  .fanName {

    display: block;

    font-size: larger;

  }

}

.between {

  text-align: center;

  margin: 10px;

  .personInfo {

    margin: auto;
    margin-bottom: 10px;

    padding: 5px;

    width: 300px;

    border-radius: 5px;

    background-color: #ca7373;

    .fanName {
      display: block;
      font-size: smaller;
    }
  
    .fanInfo {
      font-size: smaller;
    }

  }

}

button {

  background-color: #ca7373;

  border: 0;
  border-radius: 5px;

}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}
