<div class="fanlist">
  <app-fun-fact-spotlight
    title="Dein größter Fan"
    [headline]="fanData.biggestFan.name"
    subline="{{fanData.biggestFan.votes}} Votes ({{fanData.biggestFan.percentageResolved}}% der abgegebenen Stimmen)"
  ></app-fun-fact-spotlight>

  @if (expanded) {
  <div class="between">
    <button (click)="this.expanded = !this.expanded">
      Mittlere Plätze ausblenden
    </button>
    <div
      class="personInfo"
      *ngFor="let fan of fanData.between"
    >
      <span class="fanName">
        <strong>{{fan.name}}</strong>
      </span>
      <span class="fanInfo">
        {{fan.votes}} Votes
        ({{fan.percentageResolved}}% der abgegebenen Stimmen)
      </span>
    </div>
  </div>
  } @else {
    <button (click)="this.expanded = !this.expanded">
      Alle zeigen
    </button>
  }

  <app-fun-fact-spotlight
    title="Dein größter Hater"
    [headline]="fanData.biggestHater.name"
    subline="{{fanData.biggestHater.votes}} Votes ({{fanData.biggestHater.percentageResolved}}% der abgegebenen Stimmen)"
  ></app-fun-fact-spotlight>
</div>
