<div class="funfacts">
  <h2>Alles Eingepackt</h2>

  <app-fun-fact-spotlight
    [headline]="this.allTimeBest.headline"
    [subline]="this.allTimeBest.subline"
    [title]="this.allTimeBest.title"
  ></app-fun-fact-spotlight>

  <hr>

  <app-fun-fact-spotlight
    [headline]="this.bestSong.headline"
    [subline]="this.bestSong.subline"
    [title]="this.bestSong.title"
  ></app-fun-fact-spotlight>

  <app-fun-fact-spotlight
    [headline]="this.worstSong.headline"
    [subline]="this.worstSong.subline"
    [title]="this.worstSong.title"
  ></app-fun-fact-spotlight>

  <hr>

  <app-fun-fact-spotlight
    [headline]="this.highestVote.headline"
    [subline]="this.highestVote.subline"
    [title]="this.highestVote.title"
  ></app-fun-fact-spotlight>

  <hr>

  <app-fun-fact-spotlight
    [headline]="this.mostWordyCommenter.headline"
    [subline]="this.mostWordyCommenter.subline"
    [title]="this.mostWordyCommenter.title"
  ></app-fun-fact-spotlight>

  <app-fun-fact-spotlight
    [headline]="this.leastWordyCommenter.headline"
    [subline]="this.leastWordyCommenter.subline"
    [title]="this.leastWordyCommenter.title"
  ></app-fun-fact-spotlight>

  <hr>

  <app-fun-fact-spotlight
    [headline]="this.mostWordyIntroductions.headline"
    [subline]="this.mostWordyIntroductions.subline"
    [title]="this.mostWordyIntroductions.title"
  ></app-fun-fact-spotlight>

  <app-fun-fact-spotlight
    [headline]="this.leastWordyIntroductions.headline"
    [subline]="this.leastWordyIntroductions.subline"
    [title]="this.leastWordyIntroductions.title"
  ></app-fun-fact-spotlight>
</div>
