.dropdown {

  position: relative;
  display: inline-block;

  button {

    background-color: #3c552d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }

  .content {

    display: none;
    position: absolute;
    background-color: #eee2b5;
    min-width: 160px;
    max-width: 70vw;
    max-height: 60vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    overflow-y: scroll;

    flex-direction: row;
    flex-wrap: wrap;

    .column {

      max-width: 23vw;

      margin: 5px;

      .col-title {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

  }

}

.dropdown:hover {

  .content {

    display: flex;

  }

}
